$main-font: Poppins;
$main-color: #666;

// Sidebar
$s-b-menu-clr: #555;
$menu-hov-clr: #4272d7;

// Icons sidebar menu
$tachometr: "\f3fd";
$chart: "\f080";
$table: "\f0ce";
$form: "\f14a";
$calendar: "\f073";
$map: "\f3c5";
$page: "\f0c5";
$ui: "\f108";

// Content-container
$c-c-bg-color:  #e5e5e5;