@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: Poppins;
  color: #666;
  line-height: 1.6;
  max-width: 100%;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__logo {
  background: #f5f5f5;
  height: 75px;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
}

.sidebar__link {
  display: inline-block;
}

.sidebar__image {
  vertical-align: middle;
}

.sidebar__menu {
  height: calc(100vh - 75px);
  color: #555;
}

.sidebar__navigation {
  padding: 35px;
  padding-bottom: 0;
}

.sidebar__list {
  padding-left: 0;
  list-style: none;
}

.sidebar__item {
  height: 56px;
  display: block;
  cursor: pointer;
}

.sidebar__item a:hover {
  color: #4272d7;
}

.sidebar__item div:hover::before {
  color: #4272d7;
}

.sidebar__links-menu {
  padding: 15px 0;
  text-decoration: none;
  color: #555;
  display: block;
}

.sidebar__tachometr::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__chart::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__table::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__forms::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__calendar::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__map::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__pages::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__ui::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.contant-container {
  background: #e5e5e5;
  padding-left: 300px;
  width: 100%;
}

.header {
  background: #f5f5f5;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 75px;
  z-index: 3;
}

.header__desktop {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__wrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__input {
  min-width: 935px;
  line-height: 43px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #666;
  padding: 0 17px;
  border-radius: 3px;
  overflow: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__submit {
  position: relative;
  right: 0;
  min-width: 65px;
  line-height: 43px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #4272d7;
  margin-left: -3px;
  cursor: pointer;
}

.header__icon-submit {
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 39%;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 600;
}

.header__icon-submit::before {
  content: '\f002';
}

.header__button-wrap {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__notif {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__notif_icon {
  position: relative;
  margin-right: 35px;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  color: #a9b3c9;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  height: 45px;
  width: 25px;
}

.header__notif_icon:hover {
  color: #666;
}

.header__notif_icon:hover .dropdown {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__notif_icon-coment::before {
  content: '\f27a';
}

.header__notif_icon-email::before {
  content: '\f0e0';
}

.header__notif_icon-notifications::before {
  content: '\f0f3';
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.header__account:hover .dropdown {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
}

.header__image {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 3px;
}

.header__content {
  padding: 9px 0 9px 12px;
  padding-left: 12px;
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

.header__content:hover {
  color: #666;
}

.header__content::after {
  content: '\f2f9';
  font-family: "Material-Design-Iconic-Font";
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

.qwant {
  position: absolute;
  display: inline-block;
  top: 4px;
  right: -7px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: #ff4b5a;
  color: #fff;
  border-radius: 100%;
  font-size: 12px;
}

.dropdown {
  -webkit-transform: scale(0);
          transform: scale(0);
  top: 58px;
  left: -55px;
  position: absolute;
  z-index: 9999;
  min-width: 340px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.dropdown_position-notif {
  left: -117px;
}

.dropdown_position-notif::before {
  content: '\f0d8';
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -24px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  left: 117px !important;
}

.dropdown_position-account {
  left: -157px !important;
  min-width: 305px !important;
  -webkit-transform-origin: right top !important;
          transform-origin: right top !important;
}

.dropdown_position-account::before {
  content: '\f0d8';
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -24px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  left: 238px !important;
  top: -24px;
  font-size: 24px;
}

.dropdown::before {
  content: '\f0d8';
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -24px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  left: 55px;
}

.dropdown__title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  padding: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.dropdown__item:hover {
  background: #f7f7f7;
}

.dropdown__img-envelope {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 15px;
  overflow: hidden;
}

.dropdown__img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.dropdown__content-envelope {
  width: calc(100% - 55px);
  text-align: left;
}

.dropdown__content-envelope_coment-size {
  line-height: 1.6;
}

.dropdown__content-envelope_email-size {
  line-height: 0.5;
}

.dropdown__name {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  color: #333;
  line-height: 1.2;
}

.dropdown__content {
  font-size: 14px;
  color: #9a9a9a;
  line-height: calc(24/14);
  margin-bottom: 4px;
}

.dropdown__content_line-h {
  line-height: 1 !important;
}

.dropdown__time {
  font-size: 12px;
  color: #999;
  line-height: 1.625;
}

.dropdown__link {
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  color: #4272d7;
  padding: 24px 0;
  text-decoration: none;
  display: block;
}

.dropdown__email-open {
  background: #00ad5f;
  display: block;
  text-align: center;
}

.dropdown__email-open::before {
  content: '\f2b6';
}

.dropdown__account {
  background: #fa4251;
  display: block;
  text-align: center;
}

.dropdown__account::before {
  content: '\f3e0';
}

.dropdown__file-text {
  background: #ff8300;
  display: block;
  text-align: center;
}

.dropdown__file-text::before {
  content: '\f15c';
}

.dropdown__account-in {
  padding: 25px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__account-img {
  height: 65px;
  width: 65px;
  overflow: hidden;
  border-radius: 3px;
}

.dropdown__account-content {
  padding: 11px;
  height: 65px;
}

.dropdown__account-content_name {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.625;
}

.dropdown__account-content_name:hover {
  color: #666;
}

.dropdown__box-item {
  padding: 12px 0;
}

.dropdown__item-content {
  cursor: pointer;
}

.dropdown__content-link {
  display: block;
  color: #333;
  padding: 15px 25px;
  font-size: 14px;
  text-decoration: none;
}

.dropdown__content-link:hover {
  background: #4272d7;
  color: #fff;
}

.dropdown__link-account::before {
  content: '\f207';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__link-settings::before {
  content: '\f1c6';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__link-bill::before {
  content: '\f198';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__link-logOut::before {
  content: '\f1af';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__footer {
  border-top: 1px solid #f2f2f2;
}

.main {
  padding-top: 116px;
  min-height: 100vh;
  background: #e5e5e5;
  min-width: 100%;
}

.main__section {
  padding: 0 45px;
  position: relative;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.main__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  font-size: 30px;
  color: #333;
  line-height: 1.2;
}

.main__button {
  background: #4272d7;
  line-height: 45px;
  padding: 0 35px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.main__button_icon {
  vertical-align: baseline;
  margin-right: 5px;
  font-family: "Material-Design-Iconic-Font";
  font-size: 16px;
  font-weight: 500;
}

.main__button_icon::before {
  content: '\f278';
}
/*# sourceMappingURL=main.css.map */