@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    font-family: $main-font;
    color: $main-color;
    line-height: 1.6;
    max-width: 100%;
}

.main-wrapper{
    display: flex;
    max-width: 100%;
}

.sidebar{
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &__logo{
        background: #f5f5f5;
        height: 75px;
        padding: 0 35px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #e5e5e5;

        &_mob{
            width: 100%;
            justify-content: space-between;
            background: #fff;
        }
    }

    &__link{
        display: inline-block;
    }

    &__image{
        vertical-align: middle;
    }

    &__menu{
        height: calc(100vh - 75px);
        color: $s-b-menu-clr;
    }

    &__navigation{
        padding: 35px;
        padding-bottom: 0;
    }

    &__list{
        padding-left: 0;
        list-style: none;
    }

    &__item{
        height: 56px;
        display: block;
        cursor: pointer;  

        & a:hover{
            color: $menu-hov-clr;
        }

        & div:hover::before{
            color: $menu-hov-clr;
        }
    }

    &__links-menu{
        padding: 0;
        text-decoration: none;
        color: $s-b-menu-clr;
        display: block;
    }

    &__tachometr::before{
        content: $tachometr;
        @include icon;

    }

    &__chart::before{
        content: $chart;
        @include icon;
    }

    &__table::before{
        content: $table;
        @include icon;
    }

    &__forms::before{
        content: $form;
        @include icon;
    }

    &__calendar::before{
        content: $calendar;
        @include icon;
    }

    &__map::before{
        content: $map;
        @include icon;
    }

    &__pages::before{
        content: $page;
        @include icon;
    }

    &__ui::before{
        content: $ui;
        @include icon;
    }
}

.contant-container{
    background: $c-c-bg-color;
    padding-left: 300px;
    width: 100%;
}

.header{
    background: #f5f5f5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 75px;
    z-index: 3;

    &__desktop{
        overflow: visible;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 30px;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    &__wrap{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form{
        display: flex;
    }

    &__input{
        min-width: 935px;
        line-height: 43px;
        border: 1px solid #e5e5e5;
        font-size: 14px;
        color: #666;
        padding: 0 17px;
        border-radius: 3px;
        overflow: visible;
        transition: all 0.5s ease;
    }

    &__submit{
        position: relative;
        right: 0;
        min-width: 65px;
        line-height: 43px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #4272d7;
        margin-left: -3px;
        cursor: pointer;
    }

    &__icon-submit{
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 39%;
        font-family: $awesome;
        font-weight: 600;

        &::before{
            content: '\f002';
        }
    }

    &__button-wrap{
        height: 45px;
        @include flex-center;
    }

    &__notif{
        position: relative;
        @include flex-center;

        &_icon{
            position: relative;
            margin-right: 35px;
            display: inline-block;
            cursor: pointer;
            font-size: 25px;
            color: #a9b3c9;
            font-family: $awesome;
            font-weight: 900;
            height: 45px;
            width: 25px;

            &:hover{
                color: #666;
            
                & .dropdown{
                    transform: scale(1);
                }
            }
        }

        &_icon-coment::before{
            content: '\f27a';
        }

        &_icon-email::before{
            content: '\f0e0';
        }

        &_icon-notifications::before{
            content: '\f0f3';
        }
    }

    &__account{
        @include flex-center;
        cursor: pointer;
        position: relative;

        &:hover .dropdown{
            transform: scale(1);
        }
    }

    &__link{
        display: flex;
        text-decoration: none;
        position: relative;
    }

    &__image{
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 3px;
    }

    &__content{
        padding: 9px 0 9px 12px;
        padding-left: 12px; 
        color: #333;
        text-transform: capitalize;
        font-weight: 500;
        position: relative;
        
        &:hover{
            color: #666;
        }

        &::after{
            content: '\f2f9';
            font-family: $material;
            font-weight: 500;
            font-size: 16px;
            margin-left: 5px;
        }
    }
}

.qwant{
    position: absolute;
    display: inline-block;
    top: 4px;
    right: -7px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: #ff4b5a;
    color: #fff;
    border-radius: 100%;
    font-size: 12px;
}

.dropdown{
    transform: scale(0);
    top: 58px;
    left: -55px;
    position: absolute;
    z-index: 9999;
    min-width: 340px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    transition: all 0.4s ease;
    transform-origin: left top;

    &_position-notif{
        left: -117px;

        &::before{
            @include position-triangle;
            left: 117px !important;
        }
    }

    &_position-account{
        left: -157px !important;
        min-width: 305px !important;
        transform-origin: right top !important;

        &::before{
            @include position-triangle;
            left: 238px !important;
            top: -24px;
            font-size: 24px;
        }
    }

    &::before{
        @include position-triangle;
        left: 55px;    
    }

    &__title{

        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.625;
        color: $main-color;
        padding: 22px;
        border-bottom: 1px solid #f2f2f2;
    }

    &__item{
        display: flex;
        padding: 19px 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f2f2f2;

        &:hover{
            background: #f7f7f7;
        }
    }

    &__img-envelope{
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 15px;
        overflow: hidden;
    }

    &__img{
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }

    &__content-envelope{
        width: calc(100% - 55px);
        text-align: left;

        &_coment-size{
            line-height: 1.6;
        }

        &_email-size{
            line-height: 0.5;
        }
    }

    &__name{
        font-size: 14px;
        font-weight: 600;
        padding-top: 4px;
        color: #333;
        line-height: 1.2;
    }

    &__content{
        font-size: 14px;
        color: #9a9a9a;
        line-height: calc(24/14);
        margin-bottom: 4px;

        &_line-h{
            line-height: 1 !important;
        }
    }

    &__time{
        font-size: 12px;
        color: #999;
        line-height: 1.625;
    }

    &__link{
        text-transform: capitalize;
        text-align: center;
        font-size: 14px;
        color: #4272d7;
        padding: 24px 0;
        text-decoration: none;
        display: block;
    }

    &__email-open{
        background: #00ad5f;
        display: block;
        text-align: center;

        &::before{
            content: '\f2b6';
        }
    }

    &__account{
        background: #fa4251;
        display: block;
        text-align: center;

        &::before{
            content: '\f3e0';
        }
    }

    &__file-text{
        background: #ff8300;
        display: block;
        text-align: center;

        &::before{
            content: '\f15c';
        }
    }

    &__account-in{
        padding: 25px;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
    }

    &__account-img{
        height: 65px;
        width: 65px;
        overflow: hidden;
        border-radius: 3px;
        // margin-right: 11px;
    }

    &__account-content{
        padding: 11px;
        height: 65px;

        &_name{
            font-size: 14px;
            color: #333;
            font-weight: 500;
            line-height: 1.625;

            &:hover{
                color: #666;
            }
        }
    }

    &__box-item{
        padding: 12px 0;
    }

    &__item-content{
        cursor: pointer;
    }

    &__content-link{
        display: block;
        color: #333;
        padding: 15px 25px;
        font-size: 14px;
        text-decoration: none;  

        &:hover{
            background: #4272d7;
            color: #fff;
        }
    }

    &__link-account::before{
        content: '\f207';
        @include links;
    }

    &__link-settings::before{
        content: '\f1c6';
        @include links;
    }

    &__link-bill::before{
        content: '\f198';
        @include links;
    }

    &__link-logOut::before{
        content: '\f1af';
        @include links;
    }

    &__footer{
        border-top: 1px solid #f2f2f2;
    }
}

.main{
    padding-top: 116px;
    min-height: 100vh;
    background: $c-c-bg-color;
    min-width: 100%;

    &__section{
        padding: 0 45px;
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }

    &__overview{
        display: flex;
        grid-column-start: 1;
        grid-column-end: -1;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    &__content{
        font-size: 30px;
        color: #333;
        line-height: 1.2;
    }

    &__button{
        background: #4272d7;
        line-height: 45px;
        padding: 0 35px;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s ease;
        cursor: pointer;
        border: none;

        &_icon{
            vertical-align: baseline;
            margin-right: 5px;
            font-family: $material;
            font-size: 16px;
            font-weight: 500;

            &::before{
                content: '\f278';
            }
        }
    }

    &__icon{
        display: inline-block;
        margin-right: 15px;
        font-size: 60px;
        color: #fff;
        font-family: $material;
        justify-content: start;
        line-height: 1; 
    }

    &__cards{
        grid-template-columns: 1fr;
        height: 215px;
        background-repeat: space;
        
        &_container{
            padding: 30px;
            border-radius: 10px;
            display: flex;
            height: 100%;

            &-members{
                background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
                
                &-icon::before{
                    content: '\f206';
                }
            }

            &-solid{
                background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
                
                &-icon::before{
                    content: '\f1cb';
                }
            }

            &-week{
                background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
                
                &-icon::before{
                    content: '\f331';
                }
            }

            &-total{
                background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
                
                &-icon::before{
                    content: '\f19a';
                }
            }
        }
        
        &__content{
            font-weight: 300;
            display: inline-block;
            text-align: left;
        }
    }

    &__h2{
        font-weight: 300;
        color: #fff;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    &__p{
        font-size: 18px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 300;
    }

    &__chart-left{
        grid-column-start: 1;
        grid-column-end: 3;
        @include chart-styles;
    }

    &__h3{
        text-transform: capitalize;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        color: #333;

        &-header{
            position: relative;
            z-index: 2;
            color: #fff;
            font-weight: 400;
            line-height: 1.2;
            font-size: 24px;
        }
        
    }

    &__content-wrap{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
        font-size: 14px;
    }

    &__chart-info{
        font-size: 14px; 
        display: flex; 
        align-items: flex-end; 
        flex-wrap: wrap;
    }

    &__info-left{
        display: flex;
        margin-right: 12px;
        align-items: center;
    }

    &__info-right{
        display: flex;
    }

    &_content{
        margin-right: 12px;

        &_chart2-left{
            font-size: 14px;
            margin-bottom: 8px;
            margin-top: 8px;
        }
    }

    &_border-left{
        background: #00b5e9;
        @include chart-border;
    }

    &_border-right{
        background: #00ad5f;
        @include chart-border;
    }

    &__chart-percent{
        margin-right: 35px;
        display: flex;
        flex-direction: column;

        &_content-up{
            font-size: 18px;
        
            &::before{
                color: #63c76a;
                content: '\f303';
                @include percent-arrow; 
            }
        }

        &_content-down{
            font-size: 18px;

            &::before{
                color: #ff4b5a;
                content: '\f2fe';
                @include percent-arrow;
            }
        }
    }
    &_margin{
        margin-right: 0 !important;
    }

    &__chart-right{
        grid-column-start: 3;
        grid-column-end: 5;
        @include chart-styles;
        
        &_wrap{
            display: flex;
            justify-content: space-between;
            margin-top: 28px;
        }

        &_content{
            display: flex;
            flex-direction: column;
        }

        &_chart{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &_first-row{
            @include dote-chart-center;
        }

        &_second-row{
            @include dote-chart-center;
        }

        &_border-down{
            background: #fa4251;
            @include chart-border;
        }
    }

    &__table{
        border-radius: 10px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        overflow: auto;
        

        &_left{
            width: 100%;
            max-width: 100%;
            border-collapse: collapse;
            
        }  
    }

    &__th{
        display: table-cell;
        background: #333;
        font-size: 16px;
        color: #fff;
        vertical-align: middle;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1;
        white-space: nowrap;
        padding: 22px 40px;
        border: 0;
        text-align: start;
    }

    &_text-r{
        padding-left: 15px;
        padding-right: 65px;
        text-align: end !important;
        
    }

    &__tr{
        background-color: #fff;
        border-spacing: 2px;
        padding: 22px 40px;

        &_odd{
            background-color: #f5f5f5;
        }
    }

    &__td{
        display: table-cell;
        font-size: 16px;
        vertical-align: middle;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1;
        white-space: nowrap;
        padding: 22px 40px;
        border: 0;
        text-align: start;
    }

    &__table-right{
        padding: 40px;
        padding-top: 25px;
        padding-bottom: 29px;
        background: -webkit-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: auto;
        color: #fff;
        

        &_style{
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
        }

        &_td{
            white-space: nowrap;
            font-size: 14px;
            padding: 18px 5px;
            border-top: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            text-align: start;

            &-last{
                border-bottom: none !important;
            }
        }
    }

    &__actions{
        width: 100%;
        border-radius: 10px;
        background: #fff;
        overflow: hidden;

        &_left{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &_right{
            grid-column-start: 3;
            grid-column-end: 5;
        }

        &_header{
            padding: 40px;
            padding-top: 45px;
            padding-bottom: 47px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
            position: relative;

            &-left{
                background-image: url('../images/bg-title-01.jpg');
            }

            &-right{
                background-image: url('../images/bg-title-02.jpg');
            }
        }
        
    }

    &__overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background: rgba(49, 89, 253, 0.9);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__header-icon{
        color: #fff;
        font-size: 24px;
        margin-right: 12px;
        display: inline-block;
        font-family: $material;


        &_left::before{
            content: '\f204';
            margin-right: 12px;
        }

        &_right::before{
            content: '\f263';
            margin-right: 12px;
        }
    }

    &__header-button{
        position: absolute;
        height: 45px;
        width: 45px;
        background: #63c76a;
        border-radius: 100%;
        transition: all 0.3s ease;
        bottom: -22.5px;
        right: 45px;
        z-index: 3;
        border: none;
        cursor: pointer;

        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            display: inline-block;
            font-family: $material;
            content: '\f278';
        }
    }

    &__info{
        color: #808080;

        &_title{
            padding: 27px 15px;
            padding-left: 40px;
            padding-bottom: 22px;
            border-bottom: 1px solid #f2f2f2;
            font-size: 14px;
        }

        &_content{
            height: 424px;
            position: relative;
            overflow-y: auto;

            &-inner{
                border-bottom: 1px solid #f2f2f2;
                transition: all 0.5s ease;
                padding: 26px 15px;
                padding-left: 40px;
                padding: 30px 15px;
                padding-left: 40px;

                &:hover{
                    background-color: #f7f7f7;
                }

                &-brdLR{
                    border-left: 3px solid #fa4251;
                }

                &-brdLO{
                    border-left: 3px solid #ffa037;
                }

                &-brdLB{
                    border-left: 3px solid #4272d7;
                }

                &-brdLG{
                    border-left: 3px solid #00ad5f;
                }
            }
        }

        &_mess{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 40px;
            padding-right: 50px;
            padding-bottom: 25px;
            cursor: pointer;
        }

        &_link{
            font-size: 16px;
            color: #808080;
            font-weight: 400;
            transition: all 0.3s ease;
            text-decoration: none;
        }

        &_footer{
            text-align: center;
            padding-top: 35px;
            padding-bottom: 45px;

            &-button{
                background: #808080;
                padding: 0 40px;
                font-size: 15px;
                color: #fff;
                line-height: 45px;
                padding: 0 35px;
                text-transform: uppercase;
                color: #fff;
                border-radius: 3px;
                transition: all 0.3s ease;
                cursor: pointer;
                border-radius: 3px;
                border: none;

                &:hover{
                    background: #767676;
                }
            }
        }
    }

    &__h5{
        font-size: 16px;
        margin-bottom: 6px;
        color: #333;
        font-weight: 500;
        margin: 0;
        line-height: 1.2;

        &-avatar{
            color: #333;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 2px;
            line-height: 1.2;
        }
    }

    &_p-avatar{
        color: #333;
    }

    &__span-info{
        font-size: 14px;
        color: #555;
        text-transform: uppercase;
        font-weight: 600;
    }

    &__message-lbl{
        display: flex;
    }

    &__avatar{
        height: 60px;
        width: 60px;
        border-radius: 100%;
        overflow: hidden;
        

        &-grey:after{
            @include avatar;
            background: #ccc;  
        }

        &-green:after{
            @include avatar;
            background: #63c76a !important;  
        }

        &-lbl{
            position: relative;
            align-self: center;
        }
    }

    &__text-wrap{
        padding: 7px 0;
        padding-left: 23px;
    }

    &__time{
        margin-top: 26px;
        font-size: 14px;
        color: #808080
    }
}


.three-column{
    grid-column-start: 1;
    grid-column-end: 4;
}

.one-column{
    grid-column-start: 4;
    grid-column-end: 5;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &_content{
        max-width: 100%;
        text-align: end;
        padding: 60px 0 20px 0;
        font-size: 14px;
        color: #666;
        line-height: calc(24/14);
    }
}

.mob-header{
    top: 0;
    right: 0;
    left: 0;
    background: #fff;

    &:hover .drop-menu{
        display: block;;
        width: 100%;
        top: 76px;
        z-index: 9999;
        position: absolute;
        left: 0;
        right: 0;
        background: #f8f8f8;

    }

    &__wrap{
        display: flex;
        justify-content: space-between;
    }

    &__button{
        width: 36px;
        height: 36px;
        padding: 0;
        line-height: 1;
        vertical-align: top;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        position: relative;

        &_menu::before{
            width: 20px;
            height: 15px;
            display: block;
            line-height: 1;
            cursor: pointer;
            font-size: 22px;
            color: $main-color;
            font-family: $awesome;
            content: '\f0c9';
            font-weight: 600;
        }
    }
}

.drop-menu{
    display: none;
}

@media (max-width: 1717px) {
    
    .header__input{
        min-width: 350px;
    }
}

@media (max-width: 1519px){

    .main__cards_container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .main__h2{
        font-size: 20px;
    }

    .main__chart-percent {
        margin-right: 0;
    }

    .main_p-avatar{
        font-size: 12px;
    }

    .main__text-wrap{
        padding-left: 8px;
    }
}

@media (max-width: 1309px){

    .header{
        position: relative;
    }

    .main{
        padding-top: 50px;
    }

    .sidebar{
        display: none;
    }

    .contant-container{
        padding-left: 0;
    }

    .header{
        left: 0;
        height: 170px;
    }

    .header__desktop{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main__time{
        font-size: 10px;
    }

    .sidebar__menu{
        height: auto;
        width: 100%;
    }

    .sidebar__navigation{
        padding: 0;
    }

    .sidebar__item{
        padding: 10px 15px;
        border-bottom: 1px solid #e6e6e6;
    }

    .sidebar__links-menu{
        padding: 4px 0;
    }

    .header__wrap{
        flex-direction: column;
        height: 120px;
    }

    .header__button-wrap{
        justify-content: space-between;
        width: 100%;
    }

    .dropdown__mob-position{
        left: 0 !important;

        &::before{
            left: 1px !important;
        }
    }

    .main__h2{
        font-size: 16px;
    }

    .main__p{
        font-size: 12px;
    }
}

@media (max-width: 850px){
    .header__input{
        min-width: 200px;
    }

    .main__cards{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .mob-right{
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .four-column{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .main__h2{
        font-size: 36px;
    }

    .main__p{
        font-size: 18px;
    }
}

@media (max-width: 540px){
    
    .main__cards{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .main__info_mess{
        flex-wrap: wrap;
    }
}

@media (max-width: 400px){

    .header__notif_icon{
        margin-right: 15px;
    }

    .main__content{
        font-size: 20px;
    }

    .main__button{
        line-height: 30px;
        padding: 0 12px;
    }

    .dropdown_position-notif{
        left: -94px;

        &::before{
            left: 98px !important;
        }
    }

    .header__image {
        width: 35px;
        height: 35px;
    }

    .header__content{
        padding: 2px 1px;
    }
}
