@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: Poppins;
  color: #666;
  line-height: 1.6;
  max-width: 100%;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__logo {
  background: #f5f5f5;
  height: 75px;
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
}

.sidebar__link {
  display: inline-block;
}

.sidebar__image {
  vertical-align: middle;
}

.sidebar__menu {
  height: calc(100vh - 75px);
  color: #555;
}

.sidebar__navigation {
  padding: 35px;
  padding-bottom: 0;
}

.sidebar__list {
  padding-left: 0;
  list-style: none;
}

.sidebar__item {
  height: 56px;
  display: block;
  cursor: pointer;
}

.sidebar__item a:hover {
  color: #4272d7;
}

.sidebar__item div:hover::before {
  color: #4272d7;
}

.sidebar__links-menu {
  padding: 15px 0;
  text-decoration: none;
  color: #555;
  display: block;
}

.sidebar__tachometr::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__chart::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__table::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__forms::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__calendar::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__map::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__pages::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.sidebar__ui::before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: #666;
}

.contant-container {
  background: #e5e5e5;
  padding-left: 300px;
  width: 100%;
}

.header {
  background: #f5f5f5;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 75px;
  z-index: 3;
}

.header__desktop {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__wrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__input {
  min-width: 935px;
  line-height: 43px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #666;
  padding: 0 17px;
  border-radius: 3px;
  overflow: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__submit {
  position: relative;
  right: 0;
  min-width: 65px;
  line-height: 43px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #4272d7;
  margin-left: -3px;
  cursor: pointer;
}

.header__icon-submit {
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 39%;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 600;
}

.header__icon-submit::before {
  content: '\f002';
}

.header__button-wrap {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__notif {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__notif_icon {
  position: relative;
  margin-right: 35px;
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  color: #a9b3c9;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  height: 45px;
  width: 25px;
}

.header__notif_icon:hover {
  color: #666;
}

.header__notif_icon:hover .dropdown {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__notif_icon-coment::before {
  content: '\f27a';
}

.header__notif_icon-email::before {
  content: '\f0e0';
}

.header__notif_icon-notifications::before {
  content: '\f0f3';
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.header__account:hover .dropdown {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  position: relative;
}

.header__image {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 3px;
}

.header__content {
  padding: 9px 0 9px 12px;
  padding-left: 12px;
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

.header__content:hover {
  color: #666;
}

.header__content::after {
  content: '\f2f9';
  font-family: "Material-Design-Iconic-Font";
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

.qwant {
  position: absolute;
  display: inline-block;
  top: 4px;
  right: -7px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  background: #ff4b5a;
  color: #fff;
  border-radius: 100%;
  font-size: 12px;
}

.dropdown {
  -webkit-transform: scale(0);
          transform: scale(0);
  top: 58px;
  left: -55px;
  position: absolute;
  z-index: 9999;
  min-width: 340px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.dropdown_position-notif {
  left: -117px;
}

.dropdown_position-notif::before {
  content: '\f0d8';
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -24px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  left: 117px !important;
}

.dropdown_position-account {
  left: -157px !important;
  min-width: 305px !important;
  -webkit-transform-origin: right top !important;
          transform-origin: right top !important;
}

.dropdown_position-account::before {
  content: '\f0d8';
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -24px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  left: 238px !important;
  top: -24px;
  font-size: 24px;
}

.dropdown::before {
  content: '\f0d8';
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  position: absolute;
  z-index: 3;
  top: -24px;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  left: 55px;
}

.dropdown__title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  padding: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.dropdown__item:hover {
  background: #f7f7f7;
}

.dropdown__img-envelope {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 15px;
  overflow: hidden;
}

.dropdown__img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.dropdown__content-envelope {
  width: calc(100% - 55px);
  text-align: left;
}

.dropdown__content-envelope_coment-size {
  line-height: 1.6;
}

.dropdown__content-envelope_email-size {
  line-height: 0.5;
}

.dropdown__name {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  color: #333;
  line-height: 1.2;
}

.dropdown__content {
  font-size: 14px;
  color: #9a9a9a;
  line-height: calc(24/14);
  margin-bottom: 4px;
}

.dropdown__content_line-h {
  line-height: 1 !important;
}

.dropdown__time {
  font-size: 12px;
  color: #999;
  line-height: 1.625;
}

.dropdown__link {
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  color: #4272d7;
  padding: 24px 0;
  text-decoration: none;
  display: block;
}

.dropdown__email-open {
  background: #00ad5f;
  display: block;
  text-align: center;
}

.dropdown__email-open::before {
  content: '\f2b6';
}

.dropdown__account {
  background: #fa4251;
  display: block;
  text-align: center;
}

.dropdown__account::before {
  content: '\f3e0';
}

.dropdown__file-text {
  background: #ff8300;
  display: block;
  text-align: center;
}

.dropdown__file-text::before {
  content: '\f15c';
}

.dropdown__account-in {
  padding: 25px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__account-img {
  height: 65px;
  width: 65px;
  overflow: hidden;
  border-radius: 3px;
}

.dropdown__account-content {
  padding: 11px;
  height: 65px;
}

.dropdown__account-content_name {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.625;
}

.dropdown__account-content_name:hover {
  color: #666;
}

.dropdown__box-item {
  padding: 12px 0;
}

.dropdown__item-content {
  cursor: pointer;
}

.dropdown__content-link {
  display: block;
  color: #333;
  padding: 15px 25px;
  font-size: 14px;
  text-decoration: none;
}

.dropdown__content-link:hover {
  background: #4272d7;
  color: #fff;
}

.dropdown__link-account::before {
  content: '\f207';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__link-settings::before {
  content: '\f1c6';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__link-bill::before {
  content: '\f198';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__link-logOut::before {
  content: '\f1af';
  line-height: 1;
  margin-right: 20px;
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.dropdown__footer {
  border-top: 1px solid #f2f2f2;
}

.main {
  padding-top: 116px;
  min-height: 100vh;
  background: #e5e5e5;
  min-width: 100%;
}

.main__section {
  padding: 0 45px;
  position: relative;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}

.main__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content {
  font-size: 30px;
  color: #333;
  line-height: 1.2;
}

.main__button {
  background: #4272d7;
  line-height: 45px;
  padding: 0 35px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.main__button_icon {
  vertical-align: baseline;
  margin-right: 5px;
  font-family: "Material-Design-Iconic-Font";
  font-size: 16px;
  font-weight: 500;
}

.main__button_icon::before {
  content: '\f278';
}

.main__icon {
  display: inline-block;
  margin-right: 15px;
  font-size: 60px;
  color: #fff;
  font-family: "Material-Design-Iconic-Font";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  line-height: 1;
}

.main__cards {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  height: 215px;
  background-repeat: space;
}

.main__cards_container {
  padding: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.main__cards_container-members {
  background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
}

.main__cards_container-members-icon::before {
  content: '\f206';
}

.main__cards_container-solid {
  background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}

.main__cards_container-solid-icon::before {
  content: '\f1cb';
}

.main__cards_container-week {
  background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}

.main__cards_container-week-icon::before {
  content: '\f331';
}

.main__cards_container-total {
  background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
}

.main__cards_container-total-icon::before {
  content: '\f19a';
}

.main__cards__content {
  font-weight: 300;
  display: inline-block;
  text-align: left;
}

.main__h2 {
  font-weight: 300;
  color: #fff;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main__p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.main__chart-left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  padding-right: 35px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.main__h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #333;
}

.main__h3-header {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
  font-size: 24px;
}

.main__content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
  font-size: 14px;
}

.main__chart-info {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_content {
  margin-right: 12px;
}

.main_content_chart2-left {
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.main_border-left {
  background: #00b5e9;
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 7px;
}

.main_border-right {
  background: #00ad5f;
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 7px;
}

.main__chart-percent {
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__chart-percent_content-up {
  font-size: 18px;
}

.main__chart-percent_content-up::before {
  color: #63c76a;
  content: '\f303';
  font-size: 18px;
  margin-right: 5px;
  font-family: "Material-Design-Iconic-Font";
}

.main__chart-percent_content-down {
  font-size: 18px;
}

.main__chart-percent_content-down::before {
  color: #ff4b5a;
  content: '\f2fe';
  font-size: 18px;
  margin-right: 5px;
  font-family: "Material-Design-Iconic-Font";
}

.main_margin {
  margin-right: 0 !important;
}

.main__chart-right {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 40px;
  padding-right: 35px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.main__chart-right_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
}

.main__chart-right_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__chart-right_chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__chart-right_first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__chart-right_second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__chart-right_border-down {
  background: #fa4251;
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-right: 7px;
}

.main__table {
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.main__table_left {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.main__th {
  display: table-cell;
  background: #333;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  white-space: nowrap;
  padding: 22px 40px;
  border: 0;
  text-align: start;
}

.main_text-r {
  padding-left: 15px;
  padding-right: 65px;
  text-align: end !important;
}

.main__tr {
  background-color: #fff;
  border-spacing: 2px;
  padding: 22px 40px;
}

.main__tr_odd {
  background-color: #f5f5f5;
}

.main__td {
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  white-space: nowrap;
  padding: 22px 40px;
  border: 0;
  text-align: start;
}

.main__table-right {
  padding: 40px;
  padding-top: 25px;
  padding-bottom: 29px;
  background: -webkit-linear-gradient(90deg, #396afc 0%, #2948ff 100%);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}

.main__table-right_style {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

.main__table-right_td {
  white-space: nowrap;
  font-size: 14px;
  padding: 18px 5px;
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: start;
}

.main__table-right_td-last {
  border-bottom: none !important;
}

.main__actions {
  width: 100%;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.main__actions_left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.main__actions_right {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

.main__actions_header {
  padding: 40px;
  padding-top: 45px;
  padding-bottom: 47px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.main__actions_header-left {
  background-image: url("../images/bg-title-01.jpg");
}

.main__actions_header-right {
  background-image: url("../images/bg-title-02.jpg");
}

.main__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(49, 89, 253, 0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__header-icon {
  color: #fff;
  font-size: 24px;
  margin-right: 12px;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
}

.main__header-icon_left::before {
  content: '\f204';
  margin-right: 12px;
}

.main__header-icon_right::before {
  content: '\f263';
  margin-right: 12px;
}

.main__header-button {
  position: absolute;
  height: 45px;
  width: 45px;
  background: #63c76a;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: -22.5px;
  right: 45px;
  z-index: 3;
  border: none;
  cursor: pointer;
}

.main__header-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
  content: '\f278';
}

.main__info {
  color: #808080;
}

.main__info_title {
  padding: 27px 15px;
  padding-left: 40px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
}

.main__info_content {
  height: 424px;
  position: relative;
  overflow-y: auto;
}

.main__info_content-inner {
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 26px 15px;
  padding-left: 40px;
  padding: 30px 15px;
  padding-left: 40px;
}

.main__info_content-inner:hover {
  background-color: #f7f7f7;
}

.main__info_content-inner-brdLR {
  border-left: 3px solid #fa4251;
}

.main__info_content-inner-brdLO {
  border-left: 3px solid #ffa037;
}

.main__info_content-inner-brdLB {
  border-left: 3px solid #4272d7;
}

.main__info_content-inner-brdLG {
  border-left: 3px solid #00ad5f;
}

.main__info_mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 40px;
  padding-right: 50px;
  padding-bottom: 25px;
  cursor: pointer;
}

.main__info_link {
  font-size: 16px;
  color: #808080;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.main__info_footer {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 45px;
}

.main__info_footer-button {
  background: #808080;
  padding: 0 40px;
  font-size: 15px;
  color: #fff;
  line-height: 45px;
  padding: 0 35px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.main__info_footer-button:hover {
  background: #767676;
}

.main__h5 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #333;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

.main__h5-avatar {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 1.2;
}

.main_p-avatar {
  color: #333;
}

.main__span-info {
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  font-weight: 600;
}

.main__message-lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.main__avatar-grey:after {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ccc;
}

.main__avatar-green:after {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #63c76a !important;
}

.main__avatar-lbl {
  position: relative;
}

.main__text-wrap {
  padding: 7px 0;
  padding-left: 23px;
}

.main__time {
  margin-top: 26px;
  font-size: 14px;
  color: #808080;
}

.three {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4 !important;
}

.one {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_content {
  max-width: 100%;
  text-align: end;
  padding: 60px 0 20px 0;
  font-size: 14px;
  color: #666;
  line-height: calc(24/14);
}
/*# sourceMappingURL=main.css.map */