@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    font-family: $main-font;
    color: $main-color;
    line-height: 1.6;
    max-width: 100%;
}

.main-wrapper{
    display: flex;
    max-width: 100%;
}

.sidebar{
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &__logo{
        background: #f5f5f5;
        height: 75px;
        padding: 0 35px;
        display: flex;
        align-items: center;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #e5e5e5;
    }

    &__link{
        display: inline-block;
    }

    &__image{
        vertical-align: middle;
    }

    &__menu{
        height: calc(100vh - 75px);
        color: $s-b-menu-clr;
    }

    &__navigation{
        padding: 35px;
        padding-bottom: 0;
    }

    &__list{
        padding-left: 0;
        list-style: none;
    }

    &__item{
        height: 56px;
        display: block;
        cursor: pointer;  

        & a:hover{
            color: $menu-hov-clr;
        }

        & div:hover::before{
            color: $menu-hov-clr;
        }
    }

    &__links-menu{
        padding: 15px 0;
        text-decoration: none;
        color: $s-b-menu-clr;
        display: block;
    }

    &__tachometr::before{
        content: $tachometr;
        @include icon;

    }

    &__chart::before{
        content: $chart;
        @include icon;
    }

    &__table::before{
        content: $table;
        @include icon;
    }

    &__forms::before{
        content: $form;
        @include icon;
    }

    &__calendar::before{
        content: $calendar;
        @include icon;
    }

    &__map::before{
        content: $map;
        @include icon;
    }

    &__pages::before{
        content: $page;
        @include icon;
    }

    &__ui::before{
        content: $ui;
        @include icon;
    }
}

.contant-container{
    background: $c-c-bg-color;
    padding-left: 300px;
    width: 100%;
}

.header{
    background: #f5f5f5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    height: 75px;
    z-index: 3;

    &__desktop{
        overflow: visible;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 30px;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    &__wrap{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form{
        display: flex;
    }

    &__input{
        min-width: 935px;
        line-height: 43px;
        border: 1px solid #e5e5e5;
        font-size: 14px;
        color: #666;
        padding: 0 17px;
        border-radius: 3px;
        overflow: visible;
        transition: all 0.5s ease;
    }

    &__submit{
        position: relative;
        right: 0;
        min-width: 65px;
        line-height: 43px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #4272d7;
        margin-left: -3px;
        cursor: pointer;
    }

    &__icon-submit{
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 0;
        left: 39%;
        font-family: $awesome;
        font-weight: 600;

        &::before{
            content: '\f002';
        }
    }

    &__button-wrap{
        height: 45px;
        @include flex-center;
    }

    &__notif{
        position: relative;
        @include flex-center;

        &_icon{
            position: relative;
            margin-right: 35px;
            display: inline-block;
            cursor: pointer;
            font-size: 25px;
            color: #a9b3c9;
            font-family: $awesome;
            font-weight: 900;
            height: 45px;
            width: 25px;

            &:hover{
                color: #666;
            
                & .dropdown{
                    transform: scale(1);
                }
            }
        }

        &_icon-coment::before{
            content: '\f27a';
        }

        &_icon-email::before{
            content: '\f0e0';
        }

        &_icon-notifications::before{
            content: '\f0f3';
        }
    }

    &__account{
        @include flex-center;
        cursor: pointer;
        position: relative;

        &:hover .dropdown{
            transform: scale(1);
        }
    }

    &__link{
        display: flex;
        text-decoration: none;
        position: relative;
    }

    &__image{
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 3px;
    }

    &__content{
        padding: 9px 0 9px 12px;
        padding-left: 12px; 
        color: #333;
        text-transform: capitalize;
        font-weight: 500;
        position: relative;
        
        &:hover{
            color: #666;
        }

        &::after{
            content: '\f2f9';
            font-family: $material;
            font-weight: 500;
            font-size: 16px;
            margin-left: 5px;
        }
    }
}

.qwant{
    position: absolute;
    display: inline-block;
    top: 4px;
    right: -7px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: #ff4b5a;
    color: #fff;
    border-radius: 100%;
    font-size: 12px;
}

.dropdown{
    transform: scale(0);
    top: 58px;
    left: -55px;
    position: absolute;
    z-index: 9999;
    min-width: 340px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e5e5;
    transition: all 0.4s ease;
    transform-origin: left top;

    &_position-notif{
        left: -117px;

        &::before{
            @include position-triangle;
            left: 117px !important;
        }
    }

    &_position-account{
        left: -157px !important;
        min-width: 305px !important;
        transform-origin: right top !important;

        &::before{
            @include position-triangle;
            left: 238px !important;
            top: -24px;
            font-size: 24px;
        }
    }

    &::before{
        @include position-triangle;
        left: 55px;    
    }

    &__title{

        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.625;
        color: $main-color;
        padding: 22px;
        border-bottom: 1px solid #f2f2f2;
    }

    &__item{
        display: flex;
        padding: 19px 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f2f2f2;

        &:hover{
            background: #f7f7f7;
        }
    }

    &__img-envelope{
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 15px;
        overflow: hidden;
    }

    &__img{
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }

    &__content-envelope{
        width: calc(100% - 55px);
        text-align: left;

        &_coment-size{
            line-height: 1.6;
        }

        &_email-size{
            line-height: 0.5;
        }
    }

    &__name{
        font-size: 14px;
        font-weight: 600;
        padding-top: 4px;
        color: #333;
        line-height: 1.2;
    }

    &__content{
        font-size: 14px;
        color: #9a9a9a;
        line-height: calc(24/14);
        margin-bottom: 4px;

        &_line-h{
            line-height: 1 !important;
        }
    }

    &__time{
        font-size: 12px;
        color: #999;
        line-height: 1.625;
    }

    &__link{
        text-transform: capitalize;
        text-align: center;
        font-size: 14px;
        color: #4272d7;
        padding: 24px 0;
        text-decoration: none;
        display: block;
    }

    &__email-open{
        background: #00ad5f;
        display: block;
        text-align: center;

        &::before{
            content: '\f2b6';
        }
    }

    &__account{
        background: #fa4251;
        display: block;
        text-align: center;

        &::before{
            content: '\f3e0';
        }
    }

    &__file-text{
        background: #ff8300;
        display: block;
        text-align: center;

        &::before{
            content: '\f15c';
        }
    }

    &__account-in{
        padding: 25px;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f2f2f2;
        display: flex;
    }

    &__account-img{
        height: 65px;
        width: 65px;
        overflow: hidden;
        border-radius: 3px;
        // margin-right: 11px;
    }

    &__account-content{
        padding: 11px;
        height: 65px;

        &_name{
            font-size: 14px;
            color: #333;
            font-weight: 500;
            line-height: 1.625;

            &:hover{
                color: #666;
            }
        }
    }

    &__box-item{
        padding: 12px 0;
    }

    &__item-content{
        cursor: pointer;
    }

    &__content-link{
        display: block;
        color: #333;
        padding: 15px 25px;
        font-size: 14px;
        text-decoration: none;  

        &:hover{
            background: #4272d7;
            color: #fff;
        }
    }

    &__link-account::before{
        content: '\f207';
        @include links;
    }

    &__link-settings::before{
        content: '\f1c6';
        @include links;
    }

    &__link-bill::before{
        content: '\f198';
        @include links;
    }

    &__link-logOut::before{
        content: '\f1af';
        @include links;
    }

    &__footer{
        border-top: 1px solid #f2f2f2;
    }
}

.main{
    padding-top: 116px;
    min-height: 100vh;
    background: $c-c-bg-color;
    min-width: 100%;

    &__section{
        padding: 0 45px;
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }

    &__overview{
        display: flex;
        grid-column-start: 1;
        grid-column-end: -1;
        justify-content: space-between;
        align-items: center;
    }

    &__content{
        font-size: 30px;
        color: #333;
        line-height: 1.2;
    }

    &__button{
        background: #4272d7;
        line-height: 45px;
        padding: 0 35px;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s ease;
        cursor: pointer;
        border: none;

        &_icon{
            vertical-align: baseline;
            margin-right: 5px;
            font-family: $material;
            font-size: 16px;
            font-weight: 500;

            &::before{
                content: '\f278';
            }
        }
    }

    &__icon{
        display: inline-block;
        margin-right: 15px;
        font-size: 60px;
        color: #fff;
        font-family: $material;
        justify-content: start;
        line-height: 1; 
    }

    &__cards{
        grid-template-columns: 1fr;
        height: 215px;
        background-repeat: space;
        
        &_container{
            padding: 30px;
            border-radius: 10px;
            display: flex;
            height: 100%;

            &-members{
                background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
                
                &-icon::before{
                    content: '\f206';
                }
            }

            &-solid{
                background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
                
                &-icon::before{
                    content: '\f1cb';
                }
            }

            &-week{
                background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
                
                &-icon::before{
                    content: '\f331';
                }
            }

            &-total{
                background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
                
                &-icon::before{
                    content: '\f19a';
                }
            }
        }
        
        &__content{
            font-weight: 300;
            display: inline-block;
            text-align: left;
        }
    }

    &__h2{
        font-weight: 300;
        color: #fff;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    &__p{
        font-size: 18px;
        color: rgba(255, 255, 255, 0.6);
        font-weight: 300;
    }

    &__chart-left{
        grid-column-start: 1;
        grid-column-end: 3;
        @include chart-styles;
    }

    &__h3{
        text-transform: capitalize;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        color: #333;
    }

    &__content-wrap{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 30px;
        font-size: 14px;
    }

    &__chart-info{
        font-size: 14px; 
        display: flex; 
        align-items: flex-end; 
    }

    &__info-left{
        display: flex;
        margin-right: 12px;
        align-items: center;
    }

    &__info-right{
        display: flex;
    }

    &_content{
        margin-right: 12px;

        &_chart2-left{
            font-size: 14px;
            margin-bottom: 8px;
            margin-top: 8px;
        }
    }

    &_border-left{
        background: #00b5e9;
        @include chart-border;
    }

    &_border-right{
        background: #00ad5f;
        @include chart-border;
    }

    &__chart-percent{
        margin-right: 35px;
        display: flex;
        flex-direction: column;

        &_content-up{
            font-size: 18px;
        
            &::before{
                color: #63c76a;
                content: '\f303';
                @include percent-arrow; 
            }
        }

        &_content-down{
            font-size: 18px;

            &::before{
                color: #ff4b5a;
                content: '\f2fe';
                @include percent-arrow;
            }
        }
    }
    &_margin{
        margin-right: 0 !important;
    }

    &__chart-right{
        grid-column-start: 3;
        grid-column-end: 5;
        @include chart-styles;
        
        &_wrap{
            display: flex;
            justify-content: space-between;
            margin-top: 28px;
        }

        &_content{
            display: flex;
            flex-direction: column;
        }

        &_chart{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &_first-row{
            @include dote-chart-center;
        }

        &_second-row{
            @include dote-chart-center;
        }

        &_border-down{
            background: #fa4251;
            @include chart-border;
        }
    }
}

